-foods.each do |f|
  .food
    .food-title.collapsable=f.title
    .content.food-info.hide
      .food-label State
      .food-value=f.state
      .clearboth

      .food-label Type
      .food-value=f.misc_info[:story_type]
      .clearboth

      .food-label Estimate
      .food-value=f.misc_info[:estimate]
      .clearboth

      -if f.created_at
        .food-label Created
        .food-value=f.created_at.strftime("%B %d, %Y")
        .clearboth

      -if f.updated_at
        .food-label Updated
        .food-value=f.updated_at.strftime("%B %d, %Y")
        .clearboth

      .food-label URL
      .food-value
        %a{:href => f.url} Click Here
      .clearboth

      %br
      .food-label Description
      .food-value=f.description.gsub("\n","<br />")
      .clearboth
